# Python
__pycache__/
*.py[cod]
*.db
*.sqlite
*.sqlite3

# Virtual environments
.venv/
backend/.venv/

# Environment variables
.env
backend/.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Expo / Node
node_modules/
.expo/
dist/
